*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Trebuchet MS';
    background-color:#fafafa ;
    font-size: 16px;
}
header{
    display: flex;
    place-content: center;
    width: 100%;
    position: relative;
}
header img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 150px;
}
p{
    color: gray;
}
button{
    background-color: cadetblue;
    color: white;
    padding: 20px 15px;
    border: none;
}
.features{
    position: relative;
    width: 100%;
    display: flex;
}
.image img{
    position: relative;
    width: 100%;
}
img{
    width: 33%;
}
.text{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    text-align: center;
}
.text h1 {
    padding: 50px;
    font-size: 50px;
}
.text p{
    padding: 20px;
    font-size: 25px;
}
.text button{
    border-radius: 25px;
    width: 150px;
}
.features2{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    text-align: center;
    padding: 25px;
    gap: 25px;
}
.features2 h6{
    color: cadetblue;
}
.features2 h3{
    font-size: 30px;
}
.form{
    position: relative;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.form input{
    padding: 5px;
}
.form button{
    width: 200px;
}
footer{
    width: 100%;
    background-color: rgb(152, 146, 146);
}
.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    gap: 5px;
}
.footer h3{
    font-size: 25px;
}
.footer p{
    color: black;
}
@media(max-widith:1600px){
    .image{
        width:100% ;
    }
}

